*.pyc
.env
.pytest_cache
__pycache__
.idea
.template
*.iml
/media
/backups
/static
/node_modules
/TODO.txt
/whoosh_index
settings_local.py
/libs/unpacked/django
/libs/unpacked/PIL
.python-version
.vscode/settings.json
venv
temp/
